/* 
    Author: Taher Zreek;
    Theme: Restaurant Food Order;
    version: 1.0;
*/

* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.txt-center {
    text-align: center;
}
.tbl-full{
    width: 100%;
}
table tr th{
    border-bottom: 1px solid black;
}
.btn-primary{
    background-color:#1e90ff ;
    padding:1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color:#3742fa ;
}
.btn-secondary{
    background-color:#7bed9f ;
    padding:1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color:#2ed573 ;
}

.btn-danger{
    background-color:#ff4757;
    padding:1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color:#ff4757;
}
.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}
.clearfix {
    float: none;
    clear: both;
}

/* menu css */
.menu {
    text-align: center;
    border: 1px solid gray;
    background-color: white;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}

.menu ul li a:hover {
    color: #ff4757
}


/* content css */
.main-content {
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4 {
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* footer css */
.footer {
    background-color: #ff4757;
    color: white;
}

/* ======================== */
table {
    width: 100%;
    border-collapse: collapse; /* إلغاء التداخل بين الحدود */
    table-layout: auto; /* التعديل تلقائي حسب المحتوى */
    margin-top: 20px; /* مسافة أعلى الجدول */
    padding-left:0;
}
th, td {
    border: 1px solid #000;
    border-radius: 5px; /* حدود خفيفة حول الخلايا */
    padding: 10px; /* مساحة داخل الخلايا */
    text-align: center; /* محاذاة النص في الوسط */
}
th {
    background-color: #ff6b81; /* لون خلفية العناوين */
    color: white; /* لون النص في العناوين */
    font-weight: bold; /* جعل النص عريض */
}
tr:nth-child(even) {
    background-color: #f2f2f2; /* لون مختلف للصفوف الزوجية */
}
tr:hover {
    background-color: #e9e9e9; /* تأثير عند تمرير الماوس */
}
.btn-update-order{
    background-color: #2ed573;
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9rem;
}
.btn-update-order:hover{
    background-color: #2ed540;
}

#table-order{
    border-collapse: separate;
    border-spacing: 5px;
}

